/*Header modifications with stripe and shadow*/

.d-header {
border-top: 10px solid #ff6600;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Increase logo sizes*/

#site-logo.logo-big {
    max-height: 50px;
    max-width: 186px;
    margin-top: -5px;
}

#site-logo.logo-small {
    max-height: 50px;
    max-width: 51px;
    margin-top: -5px;
}

// natural white background for content, light blue for margins

body:before {
    display: inline-block;
    width: 1125px;
    min-height: 100%;
    height: inherit;
    background-color: #FDFBF9;
    content: " ";
    position: fixed;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

// compatibility for all devices
@media (max-width: 1139px) and (min-width: 1000px)
{
    body:before {
        width: 1010px;
    }
    // Fix for topic list background bug
    .wrap {
        max-width: 996px;
    }
}

body {
    background-color: #e6e6e6;
}



/*Topic list shadow*/


body.docked::before{
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}


/*Adjust Categories view category bullets*/

.topic-list.categories td.category {
    border-left: 13px solid;
}


/*Adjust color for unread topics in Categories view*/


.category-list.with-topics a.title {
    color: #000;
}
.category-list.with-topics a.title.visited {
    color: #737373;
}

/*Reduced AdSense padding, hide ADVERTISEMENT-labels*/

.adsense {
    text-align: center;
    padding: 1px;
    margin-bottom: 5px;
}

.google-adsense-label { display: none; }
.google-dfp-ad-label { display: none; }


/*Hide the dangerous Mailing list mode -setting*/


.user-preferences .pref-mailing-list-mode {
    display: none;
}


/*Remove extra space between before ad in categories view*/

#list-area {
    margin-bottom: 20px;
}


/*The so called Sanitized Mod*/


.topic-list .activity .latest-info {
    display: inline-block;
    vertical-align: middle;
}

.topic-list .activity img.avatar {
    vertical-align: middle;
    margin-right: 5px;
    max-height: 32px;
    max-width: 32px;
}

.topic-list .activity {
    width: 160px;
    text-align: left;
    padding-left: 20px;
    white-space: nowrap;
}


.topic-list .activity .latest-info .name {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0px;
    color: #737373;
}

.topic-list .activity .latest-info .relative-date {
    display: block;
    font-size: 0.9em;
    color: #737373;
}

.topic-list td {
    padding: 5px 5px;
}

/* Last visit separator re-coloring */

.topic-list .topic-list-item-separator td {
    border-bottom: 1px solid #ff6600;
    line-height: 0.1em;
    padding: 0px;
    text-align: center;
}

.topic-list .topic-list-item-separator td span {
    background-color: #FDFBF9;
    color: #ff6600;
    padding: 0px 8px;
    font-size: 0.929em;
}
