div#upcloud-bottom img {
    display: block;
    margin: 20px auto 8px auto;
    max-height: 50px;
    max-width: 221px; 
}

div#upcloud-bottom a {
    display: inline-block;
}

div#upcloud-bottom {
    text-align: center;
    margin-bottom: 20px;
}

div#upcloud-bottom-text {
    margin-top: -6px;
}

/* Fix for Discourse bug. */
/* Progress indicator positioning gets off with footer.*/
.posts-wrapper {
    margin-bottom: 16px;
}
#topic-progress-wrapper.docked {
    margin-bottom: -20px;
}
