div#upcloud-top img {
    height: 32px;
    margin-right: 7px;
    margin-top: 4px;
    margin-left: 6px;
}

@media only screen and (max-width: 600px) {
    div#upcloud-top {
        display: none;
    }
}
